<div class="modal-cases-component">
  <form
    dForm
    ngForm
    [dValidateRules]="{
      message: 'The form verification failed, please check.'
    }"
    [layout]="verticalLayout"
    #projectForm="dValidateRules"
    (dSubmit)="submitProjectForm($event)"
    autocomplete="off"
  >
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Name</d-form-label>
      <d-form-control>
        <input
          dTextInput
          autocomplete="off"
          name="name"
          placeholder="Name"
          [(ngModel)]="formData.name"
          [disabled]="isEdit"
          [dValidateRules]="{
            validators: [{ required: true }]
          }"
        />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Path</d-form-label>
      <d-form-control>
        <input
          dTextInput
          autocomplete="off"
          name="path"
          placeholder="Name"
          [(ngModel)]="formData.path"
          [disabled]="isEdit"
          [dValidateRules]="{
            validators: [{ required: true }]
          }"
        />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea
          dTextarea
          resize="vertical"
          autocomplete="off"
          name="desc"
          placeholder="Description"
          [(ngModel)]="formData.desc"
          [disabled]="isEdit"
          [dValidateRules]="[{ maxlength: 256 }]"
        ></textarea>
      </d-form-control>
    </d-form-item>

    <d-form-operation>
      <d-button
        dLoading
        class="mr-element-spacing"
        [title]="projectForm.errorMessage || ''"
        circled="true"
        style="margin-right: 8px"
        [showLoading]="projectForm.pending"
        dFormSubmit
        [dFormSubmitData]="'submit-button'"
      >
        Submit
      </d-button>
    </d-form-operation>
  </form>
</div>
