@import '../../../@shared/styles/common.scss';
.da-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .da-header-right {
    margin-bottom: 12px;
  }
}
