<div class="">
  <d-data-table
    [dataSource]="roleContent"
    [lazy]="true"
    [scrollable]="true"
    (loadMore)="loadMore($event)"
    [headerCheckDisabled]="true"
    [headerCheckVisible]="true"
    [tableOverflowType]="'overlay'"
    [borderType]="'borderless'"
    [fixHeader]="true"
    tableHeight="630px"
    [containFixHeaderHeight]="true"
    dLoading
    [loading]="roleLoading"
    [backdrop]="true"
    [message]="'One moment please...'"
  >
    <thead dTableHead>
      <tr dTableRow>
        <th dHeadCell>
          <d-search [noBorder]="true" (searchFn)="onSearch($event)"></d-search>
        </th>
      </tr>
    </thead>
    <tbody dTableBody>
      <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
        <tr dTableRow (click)="rowClick(rowIndex, nestedIndex, rowItem)" [ngClass]="{ 'row-item-select': selectItem?.id === rowItem.id }">
          <td dTableCell>
            <div
              class="row-item"
              dPopover
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [position]="'top-right'"
              [content]="rowItem.roleWeight"
            >
              {{ rowItem?.roleName }}
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #noResultTemplateRef>
        <div style="text-align: center; margin-top: 20px; height: 490px">No Data</div>
      </ng-template>
    </tbody>
    <!-- <d-column field="roleName" header="" [width]="'10%'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div
            class="row-item"
            [ngClass]="{ 'da-list-item-select': selectItem != null && rowItem.id === selectItem.id }"
            dPopover
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [position]="'top-right'"
            [content]="rowItem.roleWeight"
          >
            {{ rowItem.roleName }}
          </div>
        </ng-template>
      </d-cell>
    </d-column> -->
  </d-data-table>
</div>
