@import '../../../../@shared/styles/common.scss';

.da-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .da-header-right {
    margin-bottom: 12px;
  }
}

.row-item {
  // text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.row-item-select {
  background-color: $devui-list-item-selected-bg !important;
}
