<div class="modal-cases-component">
  <form
    dForm
    ngForm
    [dValidateRules]="{
      message: 'The form verification failed, please check.'
    }"
    [layout]="verticalLayout"
    #projectForm="dValidateRules"
    (dSubmit)="submitProjectForm($event)"
    autocomplete="off"
  >
 
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Name</d-form-label>
      <d-form-control>
        <input
          dTextInput
          autocomplete="off"
          name="name"
          placeholder="Name"
          [(ngModel)]="formData.permissionsName"
          [disabled]="isEdit"
          [dValidateRules]="{
            validators: [{ required: true }]
          }"
        />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the project name.'">Path</d-form-label>
      <d-form-control>
        <input
          dTextInput
          autocomplete="off"
          name="path"
          placeholder="Name"
          [(ngModel)]="formData.resource"
          [disabled]="isEdit"
          [dValidateRules]="{
            validators: [{ required: true }]
          }"
        />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea
          dTextarea
          resize="vertical"
          autocomplete="off"
          name="description"
          placeholder="Description"
          [(ngModel)]="formData.description"
          [disabled]="isEdit"
          [dValidateRules]="[{ maxlength: 256 }]"
        ></textarea>
      </d-form-control>
    </d-form-item>

    <ng-template [ngIf]="!isEdit">
      <d-form-operation>
        <d-button
          dLoading
          class="mr-element-spacing"
          [title]="projectForm.errorMessage || ''"
          circled="true"
          style="margin-right: 8px"
          [showLoading]="projectForm.pending"
          dFormSubmit
          [dFormSubmitData]="formData"
        >
          Submit
        </d-button>
        {{ data | json }}
      </d-form-operation>
    </ng-template>
  </form>
</div>
